<div class="user container">
  <!-- プロフィール部分 -->
  <div class="profile">
    <div class="image">
      <div style="background: url('<%= image_url(@user) %>'); background-position: 50%; background-size: cover;"></div>
    </div>
    <div class="info">
      <div class="name">
        <h1><%= @user.name %></h1>
      </div>
      <div class="status">
        <p class="posts_count">出品数:<%= @user.products.length %></p>
      </div>
      <div class="comment">
        <%= @user.profile %>
      </div>
    </div>
  </div>
  <%= render partial: 'users/mypagenav', :locals => {:val => "profile"} %>
</div>